<!DOCTYPE html>
<html>
<head><title>Just Search,Powered By Ezio</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<script src="/static/js/bootstrap.min.js"></script>
</head>
<style>
.navigation{text-align:center;font-weight:bold}
</style>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
                <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right" style="margin-top:0">
                                <li class="active"><a href="/monitor"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                                <li><a href="/admin"><span class="glyphicon glyphicon-list"></span> 后台</a></li>
                        </ul>
                </div>
        </div>
</nav>

{% block content %}
<h3>数据库概况</h3>
<table class="table">
  <thead>
    <tr>
      <th>数据库名</th>
      <th>IP地址</th>
      <th>监听端口</th>
      <th>主机名</th>
      <th>版本</th>
      <th>字符集版本</th>
      <th>国家字符集版本</th>
      <th>日志位置</th>
     <!--   <th>用途</th>    -->
    </tr>
  </thead>
{% for i in result %}
<tbody>
            <tr>
                <td>{{i.tnsname}}</td>
                <td>{{i.ipaddress}}</td>
                <td>{{i.port}}</td>
                <td>{{i.hostname}}</td>
                <td>{{i.version}}</td>
                <td>{{i.charset}}</td>
                <td>{{i.ncharset}}</td>
                <td>{{i.alertpath}}</td>
<!--                <td>{{i.content}}</td>   -->
            </tr>
</tbody>
{% endfor %}
</table>
{% endblock %}
</body>
</html>

